
.no-scroll .scroll-content {
    overflow: hidden;
}

// .pageBack{
//     --background: url('../../../assets/images/test_series.jpg') 0 0/100% 100% no-repeat;
// }

.back-color {
    --background: #054098;
    color: white;
}

// ion-icon {
//     color: white;
//     font-size: 30px; 
// }