<ion-header>
  <ion-toolbar class="back-color no-scroll">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list *ngFor="let task of taskList">
    <ion-item style="--padding-start: 0px;" [routerLink]="['/view-task', {taskname: task.taskname}]">
      <ion-label style="margin-left: 16PX;">{{task.taskname}}</ion-label>
      <ion-icon name="chevron-forward" style="font-size: 90%;"></ion-icon>
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let task of taskList" class="card_line" style="padding: 15px;margin: 5px;margin-top: 15px;border-inline-start: 2px solid #054098;">
    <div style="margin-top: -6px;" (click)="viewTask(task.taskname, name, task)">
      <div align="left">
        <ion-row>
          <ion-col style="padding-inline-end: 0px;padding-inline-start: 0px;">
            <div style="color: #000000;font-size: 14px;font-weight: bold;">{{task.taskname}}</div>
          </ion-col>

          <ion-col style="text-align: end;">
            <div style="color: #000000;font-size: 13px;">{{task.created_date}}</div>
          </ion-col>
        </ion-row>
      </div>
      <div style="color: #000000;font-size: 13px;">{{task.description}}</div>

      <div *ngIf="name != 'Projects'" 
        [ngStyle]="{'color': task.status == 'Completed' ? '#0c8c3f' : '#d12340'}" 
        style="font-size: 13px;float: right;">
        {{task.status}}
      </div>
    </div>
  </ion-card>
</ion-content>
