<ion-header>
  <ion-toolbar class="back-color no-scroll">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let notification of notificationList" class="card_line" style="padding: 15px;margin: 5px;margin-top: 15px;border-inline-start: 2px solid #054098;">
    <div align="left">
      <div style="color: #000000;font-size: 13px;">{{notification.name}}</div>
    </div>
  </ion-card>
</ion-content>
