<ion-header>
  <ion-toolbar class="back-color no-scroll">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="log-out-outline" style="padding: 5px;font-size: 26px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 115px;background: #054098;position: absolute;width: 100%;">
    <div align="center" style="padding: 20px;margin-top: 13%;">
     <div align="left" style="color: #ffffff;">{{loginData.fullname}}</div>
     <div align="left" style="color: #c0bdbd;">{{loginData.email}}</div>
    </div>
  </div>

  <div align="right" style="margin-top: 13%;padding: 10px;">
    <ion-avatar slot="end" style="width: 100px;height: 100px;position: relative;">
      <img src="assets/images/person.jpg">
    </ion-avatar>
  </div>

  <div>
    <ion-row style="align-items: flex-end;">
      <ion-col>
       <ion-card class="card_line" style="border-radius: 25px;width: 34px;text-align: center;">
        <ion-icon name="person" style="padding: 5px;font-size: 18px;color: #054098;padding-top: 7px;"></ion-icon>
       </ion-card>
      </ion-col>

      <ion-col style="flex-grow: 6;margin-bottom: 2px;">
        <div style="font-size: 13px;font-weight: bold;">Username</div>
        <div style="font-size: 12px;">{{loginData.fullname}}</div>
      </ion-col>
    </ion-row>

    <ion-row style="align-items: flex-end;">
      <ion-col>
        <ion-card class="card_line" style="border-radius: 25px;width: 34px;text-align: center;">
          <ion-icon name="mail" style="padding: 5px;font-size: 18px;color: #c2350a;padding-top: 7px;"></ion-icon>
        </ion-card>
      </ion-col>

      <ion-col style="flex-grow: 6;margin-bottom: 2px;">
        <div style="font-size: 13px;font-weight: bold;">Email</div>
        <div style="font-size: 12px;">{{loginData.email}}</div>
      </ion-col>
    </ion-row>

    <ion-row style="align-items: flex-end;">
      <ion-col>
        <ion-card class="card_line" style="border-radius: 25px;width: 34px;text-align: center;">
          <ion-icon name="call" style="padding: 5px;font-size: 18px;color: #42a107;padding-top: 7px;"></ion-icon>
        </ion-card>
      </ion-col>

      <ion-col style="flex-grow: 6;margin-bottom: 2px;">
        <div style="font-size: 13px;font-weight: bold;">Phone</div>
        <div style="font-size: 12px;">+91 {{loginData.mobileNo}}</div>
      </ion-col>
    </ion-row>

    <ion-row style="align-items: flex-end;">
      <ion-col>
        <ion-card class="card_line" style="border-radius: 25px;width: 34px;text-align: center;">
          <ion-icon name="location" style="padding: 5px;font-size: 18px;color: #9c0dca;padding-top: 7px;"></ion-icon>
        </ion-card>
      </ion-col>

      <ion-col style="flex-grow: 6;margin-bottom: 2px;">
        <div style="font-size: 13px;font-weight: bold;">Address</div>
        <div style="font-size: 12px;">{{loginData.address}}</div>
      </ion-col>
    </ion-row>

    <ion-row style="align-items: flex-end;">
      <ion-col>
        <ion-card class="card_line" style="border-radius: 25px;width: 34px;text-align: center;">
          <ion-icon name="person" style="padding: 5px;font-size: 18px;color: #9c0dca;padding-top: 7px;"></ion-icon>
        </ion-card>
      </ion-col>

      <ion-col style="flex-grow: 6;margin-bottom: 2px;">
        <div style="font-size: 13px;font-weight: bold;">Role</div>
        <div style="font-size: 12px;">{{loginData.role}}</div>
      </ion-col>
    </ion-row>

      <div align="center" style="margin-top:30px">
        <button (click)="logout()">Logout</button>
      </div>
    

  </div>
</ion-content>
