<ion-header>
  <ion-toolbar class="back-color no-scroll">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{taskname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="card_line">
      <div>
        <ion-item>
          <ion-select placeholder="Select Wagon" interface="popover" [(ngModel)]="project_rake" style="width: 100%;max-width: 100%;" (ionChange)="checkInpection(project_rake)">
            <ion-select-option value="BVCM">BVCM</ion-select-option>
            <ion-select-option value="BCFC">BCFC</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
  
      <div>
        <ion-item>
          <ion-select placeholder="Select Inspection Category" interface="popover" [(ngModel)]="inspectonCategory" style="width: 100%;max-width: 100%;" (ionChange)="checkInspectonCategory(inspectonCategory)">
            <ion-select-option value="Castings">Castings</ion-select-option>
            <ion-select-option value="Fabrication">Fabrication</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div>
        <ion-item>
          <ion-select placeholder="Select Inspection Item" interface="popover" [(ngModel)]="inspectonItem" style="width: 100%;max-width: 100%;" (ionChange)="checkInspectonItem(inspectonItem)">
            <ion-select-option *ngFor="let item of inspectonItemList;" value="{{item.name}}">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-card>
    
    <div *ngIf="inspectonCategoryValue == true">
      <ion-card class="card_line" style="margin-top: 15px;">
        <div style="margin: 10px;">
          <div class="text-heading" style="padding: 5px;">
            <span>INSPECTION OFFERED QUANTITY</span>
            <div class="border-bottom-style">
              <ion-input type="Number" placeholder="Inspection offered quantity" [(ngModel)]="inspectionOfferQ" style="color: #000000;" ></ion-input>
            </div>
          </div>
    
          <div class="text-heading" style="padding: 5px;">
            <span>CLEARED QUANTITY</span>
            <div class="border-bottom-style">
              <ion-input type="Number" placeholder="Cleared quantity" [(ngModel)]="clearedQ" style="color: #000000;" ></ion-input>
            </div>
          </div>
    
          <div class="text-heading" style="padding: 5px;">
            <span>CUMULATIVE QUANTITY CLEARED</span>
            <div class="border-bottom-style">
              <ion-input type="Number" placeholder="Cumulative quantity cleared" [(ngModel)]="cumulativeQC" style="color: #000000;" ></ion-input>
            </div>
          </div> 

          <div class="text-heading" style="padding: 5px;">
            <span>REMARK</span>
            <div class="border-bottom-style" style="color: #000000;">
              <ion-textarea #ionTxtArea
                placeholder='Remark'
                [(ngModel)]="remark" >
              </ion-textarea>
              <!-- <ion-input type="Number" placeholder="Remark" [(ngModel)]="cumulativeQC" style="color: #000000;" ></ion-input> -->
            </div>
          </div> 

          <div class="text-heading" style="padding: 5px;">
            <span>UPLOAD DOCS</span>
            <div class="border-bottom-style" style="margin-top: 7px;">
              <input type="file" name="document" accept="image/*, .pdf, .doc, .docx" (change)="fileSelected($event)" #document />
              <!-- <button class="btnAttach" (click)="document.click()"><ion-icon class="attach" name="attach"></ion-icon></button> -->
            </div>
          </div> 

          <div align="center" class="text-heading" style="padding: 10px;display: flex;">
            <ion-button type="submit" style="--background: #054098;color:#ffffff;width: 200px;" (click)="draft(project_rake, inspectonCategory, inspectonItem, document)">
              Draft
            </ion-button>
            <ion-button type="submit" style="--background: #054098;color:#ffffff;width: 200px;" (click)="save(project_rake, inspectonCategory, inspectonItem, document)">
              Save
            </ion-button>
          </div>

          <div align="center" class="text-heading" style="padding: 5px;" hidden>
            <ion-button type="submit" style="--background: #054098;color:#ffffff;width: 200px;" (click)="generateSheet()">
              Generate
            </ion-button>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
