<ion-header>
  <ion-toolbar class="back-color no-scroll">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{taskname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <div style="margin-top: 10px;">
        <!-- <ion-row style="align-items: center;">
          <ion-col>
           <ion-card class="card_line" style="border-radius: 25px;width: 26px;text-align: center;">
            <ion-icon name="person" style="padding: 5px;font-size: 10px;color: #054098;padding-top: 7px;"></ion-icon>
           </ion-card>
          </ion-col>
    
          <ion-col style="flex-grow: 3;">
            <div style="font-size: 13px;font-weight: bold;">Project Name :</div>
          </ion-col>

          <ion-col style="flex-grow: 6;">
            <div style="font-size: 12px;">{{taskname}}</div>
          </ion-col>
        </ion-row>

        <ion-row style="align-items: center;">
          <ion-col>
           <ion-card class="card_line" style="border-radius: 25px;width: 26px;text-align: center;">
            <ion-icon name="person" style="padding: 5px;font-size: 10px;color: #054098;padding-top: 7px;"></ion-icon>
           </ion-card>
          </ion-col>
    
          <ion-col style="flex-grow: 3;">
            <div style="font-size: 13px;font-weight: bold;">Description :</div>
          </ion-col>

          <ion-col style="flex-grow: 6;">
            <div style="font-size: 12px;">{{taskname}}</div>
          </ion-col>
        </ion-row>

        <ion-row style="align-items: center;">
          <ion-col>
           <ion-card class="card_line" style="border-radius: 25px;width: 26px;text-align: center;">
            <ion-icon name="person" style="padding: 5px;font-size: 10px;color: #054098;padding-top: 7px;"></ion-icon>
           </ion-card>
          </ion-col>
    
          <ion-col style="flex-grow: 3;">
            <div style="font-size: 13px;font-weight: bold;">Created By :</div>
          </ion-col>

          <ion-col style="flex-grow: 6;">
            <div style="font-size: 12px;">{{taskname}}</div>
          </ion-col>
        </ion-row>

        <ion-row style="align-items: center;">
          <ion-col>
           <ion-card class="card_line" style="border-radius: 25px;width: 26px;text-align: center;">
            <ion-icon name="person" style="padding: 5px;font-size: 10px;color: #054098;padding-top: 7px;"></ion-icon>
           </ion-card>
          </ion-col>
    
          <ion-col style="flex-grow: 3;">
            <div style="font-size: 13px;font-weight: bold;">Created Date :</div>
          </ion-col>

          <ion-col style="flex-grow: 6;">
            <div style="font-size: 12px;">{{taskname}}</div>
          </ion-col>
        </ion-row> -->

          <div class="text-heading" style="padding: 5px;">
            <span style="margin-left: 10px;">Project Name</span>
              <div class="border-bottom-style" style="margin: 10px;">
                  <span class="text-style-black">{{taskname}}</span>
              </div>
          </div>
    
          <div class="text-heading" style="padding: 5px;">
            <span style="margin-left: 10px;">Description</span>
              <div class="border-bottom-style" style="margin: 10px;">
                  <span class="text-style-black">{{data.description}}</span>
              </div>
          </div>

          <!-- <div class="text-heading" style="padding: 5px;">
            <span style="margin-left: 10px;">Project Design</span>
              <div class="border-bottom-style" style="margin: 10px;">
                  <span class="text-style-black">Activity</span>
              </div>
          </div> -->

          <div class="text-heading" style="padding: 5px;">
            <span style="margin-left: 10px;">Created By</span>
              <div class="border-bottom-style" style="margin: 10px;">
                  <span class="text-style-black">{{data.created_by}}</span>
              </div>
          </div>

          <div class="text-heading" style="padding: 5px;">
            <span style="margin-left: 10px;">Created Date</span>
              <div class="border-bottom-style" style="margin: 10px;">
                  <span class="text-style-black">{{data.created_date}}</span>
              </div>
          </div>

          <div class="text-heading" style="padding: 5px;">
            <span style="margin-left: 10px;">Status</span>
              <div class="border-bottom-style" style="margin: 10px;">
                  <span class="text-style-black">{{data.status}}</span>
              </div>
          </div>
      </div>

      <!-- <div>
        <ion-segment *ngIf="segment == 'View Info'"  [(ngModel)]="segmentStage" style="background: #054098;">
          <ion-segment-button value="Stage 1" style="--indicator-color: #ffffff;color:#ffffff;"> 
            <ion-label>Stage 1</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Stage 2" style="--indicator-color: #ffffff;color:#ffffff;">
            <ion-label>Stage 2</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Stage 3" style="--indicator-color: #ffffff;color:#ffffff;">
            <ion-label>Stage 3</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div> -->

      <!-- <div [ngSwitch]="segmentStage">
        <div *ngSwitchCase="'Stage 1'">

            <ion-card class="card_line" style="padding: 15px;margin: 5px;margin-top: 15px;">
                <div >
                  <div style="color: #000000;font-size: 15px;text-align: left;">Template 1</div>
                  <div *ngFor="let template of templateList">
                      <p (click)="toggleAccordion()">
                        {{template.headingName}}
                          <span *ngIf="isMenuOpen">&#9650;</span>
                         <span *ngIf="!isMenuOpen">&#9660;</span>
                      </p>
                    
                      <div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
                       
                          <div style="overflow-x:auto">
                              <table>
                                  <tr>
                                    <th>Title</th>
                                    <th>Quantity/Rake</th>
                                    <th>Inspection Offered Quantity</th>
                                    <th>Cleared Quantity</th>
                                    <th>Cumulative Quantity Cleared</th>
                                    <th>Balance Quantity in No</th>

                                    <th>Balance Quantity in %</th>
                                    <th>Remark</th>
                                    <th>Action</th>
                                  </tr>
                                  <tr  *ngFor="let option of template.templateName">
                                    <td>{{option.name}}</td>
                                    <td>{{option.value}}</td>

                                    <td>  <input type="text" placeholder="Enter here"></td>
                                    <td>  <input type="text" placeholder="Enter here"></td>
                                    <td>  <input type="text" placeholder="Enter here"></td>

                                    <td>124</td>
                                    <td>100%</td>

                                    <td>  <input type="text" placeholder="Enter here"></td>

                                    <td>
                                        <ion-button type="submit" class="customButton" >
                                            Draft
                                        </ion-button>
                                        <ion-button type="submit" class="customButton" >
                                            Submit
                                        </ion-button>
                                    </td>
                                  </tr>
                                 
                                </table>
                            </div> -->
                       
                       
                        <!-- <div class="div_class">
                          <ion-row>
                            <ion-col>
                              <div>{{option.name}}</div>
                             </ion-col>
                            <ion-col style="text-align: end;">
                              <div>{{option.value}}</div>
                            </ion-col>
                          </ion-row>
                        </div> -->
<!-- 
                      </div>
                    </div>
                </div>
              </ion-card> -->
         
         

          <!-- <ion-card class="card_line" style="padding: 15px;margin: 5px;margin-top: 15px;">
            <div align="center">
              <div style="color: #000000;font-size: 13px;">Template 1</div>
            </div>
          </ion-card> -->
        <!-- </div>
    
        <div *ngSwitchCase="'Stage 2'">
          <ion-card class="card_line" style="padding: 15px;margin: 5px;margin-top: 15px;">
            <div align="center">
              <div style="color: #000000;font-size: 13px;">Template 2</div>
            </div>
          </ion-card>
        </div>
    
        <div *ngSwitchCase="'Stage 3'">
          <ion-card class="card_line" style="padding: 15px;margin: 5px;margin-top: 15px;">
            <div align="center">
              <div style="color: #000000;font-size: 13px;">Template 3</div>
            </div>
          </ion-card>
        </div>
      </div>  -->
    
  
  
  
</ion-content>

