
.no-scroll .scroll-content {
    overflow: hidden;
}

.back-color {
    --background: #054098;
    color: white;
}

// ion-icon {
//     color: white;
//     font-size: 30px; 
// }


.text-heading{
    color: #054098;
    font-size: 14px;
    font-weight: 500;
}

.border-bottom-style{
    width: auto;
    height: auto;
    border-bottom: 1px solid #054098;
}

.text-style-black{
    color: #a09696;
    font-size: 13px;
}

.sc-ion-textarea-md-h, .sc-ion-textarea-ios-h {
    --padding-top: 0px;
    --padding-end: 0;
    --padding-bottom: 0px;
    --padding-start: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: inherit;
}

.sc-ion-input-md-h, .sc-ion-input-ios-h {
    --padding-top: 10px;
    --padding-end: 0;
    --padding-bottom: 10px;
    --padding-start: 0px;
    font-size: inherit;
}

.card_line{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    cursor: pointer;
    position: relative;
    padding: 10px;
    font-size: 14px;
    font-family: Verdana;
    border-bottom: 1px solid #d2d2d2;
    margin: 0;
    font-weight: bold;
 
 
     /* Define the style rules for the 'arrow icons' */
     span {
        position: absolute;
        right: 1em;
       //  top: 1.2em;
        font-size: 0.95em;
     }
  }
 
  .div_class {
     position: relative;
     padding: 1px;
     background: rgba(230, 230, 230, 1);
    //  border-bottom: 1px solid rgba(210, 210, 210, 1);
  }
 
  /* Following classes display/hide the 'menu'
  // based on the state change detection in the
  // component class */
  .active {
     display: block
  }
 
  .inactive {
     display: none;
  }
  table {
    border-collapse: collapse;
  }
  
  table, td, th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }
  .customButton {
    font-size: 10px;
    padding: 2px;
    width: 70px;
  }