.no-scroll .scroll-content {
    overflow: hidden;
}

// .pageBack{
//     --background: url('../../../assets/images/test_series.jpg') 0 0/100% 100% no-repeat;
// }

.back-color {
    --background: #054098;
    color: white;
}

.item-css{
    --background: transparent;
    border-radius: 10px;
    border: 1px solid #ffffff;
    --highlight-color-focused: transparent;
   // margin: 20px;
}

.text-padding {
    padding: 20px;
    margin-top: 20px;
  }
  
  .text-color{
      color: white;
      font-size: 25px;
      margin-left: 10px;
  }
  
  .title-color{
      color: white;
      font-size: 18px;
      margin-left: 10px;
  }
  
  .title-text-padding {
      padding: 20px;
      margin-top: 10px;
  }
  
  .small-text-padding {
      padding: 10px;
      // margin-top: 10px;
  }
  
  .small-text-color{
      color: white;
      font-size: 14px;
      margin-left: 10px;
  }

  ion-footer {
    display: block;
    position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
    background-color: #0c187b;
}

.errors {
    color:red;
    font-size: 12px;
    margin-top: 5px;
}


.errorHandle {
    color:red;
    // font-size: 12px;
    margin-top: 10px;
    text-align: end;
}