<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="back-color no-scroll" fullscreen="true">

  <form [formGroup]="loginFormGroup" (ngSubmit)="loginForm()" novalidate>

    <div align="center" style="margin-top: 30%;">
      <div align="center" class="text-padding">
        <span class="text-color">Inspection App</span>
      </div>
  
      <div align="center">
        <div style="margin: 20px;">
          <ion-item class="item-css" >
            <ion-input type="text" formControlName="username" 
            placeholder="Username"  style="color: #ffffff;" required></ion-input>
          </ion-item>
          <div class="errorHandle" *ngIf="isSubmitted && errorControl.username.errors?.required">
            Username is required.
          </div>
        </div>

        <div style="margin: 20px;">
          <ion-item  class="item-css">
            <ion-input type="password" formControlName="password" placeholder="Password"   style="color: #ffffff;" required></ion-input>
          </ion-item>
          <div class="errorHandle" *ngIf="isSubmitted && errorControl.password.errors?.required">
            Password is required.
          </div>
        </div>
        <!-- <ion-item class="item-css" >
          <ion-input type="password" formControlName="password" placeholder="Password"   style="color: #ffffff;" required></ion-input>
        </ion-item>
        <span class="errorHandle" *ngIf="isSubmitted && errorControl.mobileNo.errors?.required">
          Password is required.
        </span> -->
      </div>
    
      <div align="center" class="text-padding" style="margin-top: 0px;" >
        <ion-button type="submit" style="--background: white;color:#054098;width: 200px;">
          <ion-icon slot="start" name="log-in"></ion-icon>
          Login
        </ion-button>
      </div>
    </div>
  </form>

  <!-- <div align="center" style="margin-top: 30%;">
    <div align="center" class="text-padding">
      <span class="text-color">GATX</span>
    </div>
  
    <div align="center">
      <ion-item class="item-css">
        <ion-input type="number" maxlength="10" pattern="[0-9]{10}"  placeholder="Mobile No." style="color: #ffffff;" required></ion-input>
      </ion-item>
    
      <ion-item class="item-css">
        <ion-input type="password" placeholder="Password" style="color: #ffffff;" required></ion-input>
      </ion-item>
    </div>
  
    <div align="center" class="text-padding" style="margin-top: 0px;" (click)="loginForm()">
      <ion-button style="--background: white;color:#054098;width: 200px;">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Login
      </ion-button>
    </div> -->

    <!-- <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="loginForm()" expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row> -->

  <!-- </div>  -->
</ion-content>
