<ion-header translucent="true" no-border>
  <ion-toolbar class="back-color no-scroll">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end" [routerLink]="['/notifications']">
      <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" [routerLink]="['/profile']">
      <ion-icon name="person" style="padding: 5px;font-size: 26px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <div>
      <ion-item>
        <!-- <ion-label>Select Inspection Type</ion-label> -->
        <ion-select placeholder="Select Inspection Type" interface="popover" [(ngModel)]="inspectionType" style="width: 100%;max-width: 100%;" (ionChange)="checkValue($event)">
          <ion-select-option value="physical">Physical Inspection</ion-select-option>
          <ion-select-option value="newwagon">New Wagon Inspection</ion-select-option>
          <ion-select-option value="detail">Detail Inspection</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-card *ngFor="let task of taskList" class="card_line" style="padding: 15px;margin: 5px;margin-top: 15px;border-inline-start: 2px solid #054098;">
      <div style="margin-top: -6px;" (click)="viewTask(task.taskname, name, task)">
        <div align="left">
          <ion-row>
            <ion-col style="padding-inline-end: 0px;padding-inline-start: 0px;">
              <div style="color: #000000;font-size: 14px;font-weight: bold;">{{task.taskname}}</div>
            </ion-col>
  
            <ion-col style="text-align: end;">
              <div style="color: #000000;font-size: 13px;">{{task.created_date}}</div>
            </ion-col>
          </ion-row>
        </div>
        <div style="color: #000000;font-size: 13px;">{{task.description}}</div>
  
        <div *ngIf="name != 'Projects'" 
          [ngStyle]="{'color': task.status == 'Completed' ? '#0c8c3f' : '#d12340'}" 
          style="font-size: 13px;float: right;">
          {{task.status}}
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
