
.no-scroll .scroll-content {
  overflow: hidden;
}

.back-color {
  --background: #054098;
  color: white;
}

ion-icon {
  color: white;
  font-size: 30px; 
}

.card_line{
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}