<!-- <ion-header>
  <ion-toolbar>
    <ion-title>MiAccordion</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->

  <h2 (click)="toggleAccordion()">
    {{ heading }}
     <span *ngIf="isMenuOpen">&#9650;</span>
     <span *ngIf="!isMenuOpen">&#9660;</span>
  </h2>

  <div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
    <div>
      <ion-row>
        <ion-col>
          <div>{{optionName}}</div>
        </ion-col>
        <ion-col style="text-align: end;">
          <div>{{optionValue}}</div>
        </ion-col>
      </ion-row>
    </div>
  </div>
<!-- </ion-content> -->
