/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.action-sheet {
    .action-sheet-wrapper.sc-ion-action-sheet-md {
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        display: block;
        position: absolute;
        width: var(--width);
        min-width: var(--min-width);
        max-width: var(--max-width);
        height: var(--height);
        min-height: var(--min-height);
        max-height: var(--max-height);
        z-index: 10;
        pointer-events: none;
    }

    .action-sheet-group.sc-ion-action-sheet-md {
        -ms-flex-negative: 2;
        flex-shrink: 2;
        overscroll-behavior-y: contain;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        pointer-events: all;
        background: #ffffff;
    }

    .action-sheet-button-inner.sc-ion-action-sheet-md {
        -ms-flex-pack: start;
        justify-content: flex-start;
        color: #d12340;
    }

    .action-sheet-icon.sc-ion-action-sheet-md {
        padding-bottom: 4px;
        margin-left: 0;
        margin-right: 32px;
        margin-top: 0;
        margin-bottom: 0;
        color: #d12340;
        font-size: 24px;
    }
 }


 .action-sheet-final{
    .action-sheet-button-inner.sc-ion-action-sheet-md {
        -ms-flex-pack: start;
        justify-content: flex-start;
        color: #054098;
    }

    .action-sheet-icon.sc-ion-action-sheet-md {
        padding-bottom: 4px;
        margin-left: 0;
        margin-right: 32px;
        margin-top: 0;
        margin-bottom: 0;
        color: #054098;
        font-size: 24px;
    }
 }

 