<ion-header translucent="true" no-border>
  <ion-toolbar class="back-color no-scroll">
    <ion-title>Dashboard</ion-title>
  
    <ion-buttons slot="end" [routerLink]="['/profile']">
      <ion-icon name="person" style="padding: 5px;font-size: 20px;"></ion-icon>
       <p style="position: absolute;
       right: -4px;
       top: 12px;
       font-size: 12px;">{{role}}</p>
       
    </ion-buttons>
    <ion-buttons slot="end" [routerLink]="['/notifications']">
      <ion-icon name="notifications-circle-outline" style="padding: 5px;font-size: 26px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="role == 'Inspector'">
      <ion-col style="margin: 2px;" [routerLink]="['/tasks', {name: 'Physical Inspection'}]" text-center>
        <ion-card class="bg_darkred card_line">
          <div align="center">
            <div align="center" style="color: white;font-size: 16px;padding: 7px;">Physical Inspection</div>
          </div>

          <div style="margin: 5px;">
            <ion-row>
              <ion-col class="red_background">
                Pending
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #d10619;">1</ion-badge>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col class="green_background">
                Completed
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #068f3c;">1</ion-badge>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col class="yellow_background">
                In-Progress
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #fbff0a;">2</ion-badge>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>

      <!-- <ion-col style="margin: 2px;" [routerLink]="['/tasks', {name: 'Draft'}]" text-center>
        <ion-card class="bg_blue card_line">
          <div align="center" style="padding: 49px;">
            <div align="center" style="color: white;font-size: 13px;">Draft</div>
          </div>
        </ion-card>
      </ion-col> -->
    </ion-row>

    <ion-row *ngIf="role == 'Inspector'">
      <ion-col style="margin: 2px;" [routerLink]="['/tasks', {name: 'New Wagon Inspection'}]" text-center>
        <ion-card class="bg_darkred card_line">
          <div align="center">
            <div align="center" style="color: white;font-size: 16px;padding: 7px;">New Wagon Inspection</div>
          </div>

          <div style="margin: 5px;">
            <ion-row>
              <ion-col class="red_background">
                Pending
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #d10619;">2</ion-badge>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col class="green_background">
                Completed
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #068f3c;">2</ion-badge>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col class="yellow_background">
                In-Progress
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #fbff0a;">2</ion-badge>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>

      <!-- <ion-col style="margin: 2px;" [routerLink]="['/tasks', {name: 'Overdue Task'}]" text-center>
        <ion-card class="bg_green card_line">
          <div align="center" style="padding: 50px;">
            <div align="center" style="color: white;font-size: 13px;">Overdue</div>
          </div>
        </ion-card>
      </ion-col> -->
    </ion-row>

    <ion-row *ngIf="role == 'Inspector'">
      <!-- <ion-col style="margin: 2px;" [routerLink]="['/tasks', {name: 'Projects'}]" text-center>
        <ion-card class="bg_navyblue card_line">
          <div align="center" style="padding: 50px;">
            <div align="center" style="color: white;font-size: 13px;">Projects</div>
          </div>
        </ion-card>
      </ion-col> -->
      
      <ion-col style="margin: 2px;" [routerLink]="['/tasks', {name: 'Detail Inspection'}]" text-center>
        <ion-card class="bg_darkred card_line">
          <div align="center">
            <div align="center" style="color: #ffffff;font-size: 16px;padding: 7px;">Detail Inspection</div>
          </div>

          <div style="margin: 5px;">
            <ion-row>
              <ion-col class="red_background">
                Pending
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #d10619;">1</ion-badge>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col class="green_background">
                Completed
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #068f3c;">2</ion-badge>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col class="yellow_background">
                In-Progress
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #fbff0a;">2</ion-badge>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="role == 'Inspector'">
      <ion-col style="margin: 2px;" [routerLink]="['/tasks', {name: 'Preview'}]" text-center>
        <ion-card class="bg_darkred card_line">
          <div align="center" style="padding: 50px;">
            <div align="center" style="color: white;font-size: 16px;">Preview</div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="role == 'Supervisor'">
      <ion-col style="margin: 2px;" [routerLink]="['/tasks', {name: 'Reports'}]" text-center>
        <ion-card class="bg_darkred card_line">
          <div align="center">
            <div align="center" style="color: white;font-size: 16px;padding: 7px;">Reports</div>
          </div>

          <div style="margin: 5px;">
            <ion-row>
              <ion-col class="red_background">
                Pending
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #d10619;">1</ion-badge>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col class="green_background">
                Completed
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #068f3c;">2</ion-badge>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col class="yellow_background">
                In-Progress
              </ion-col>
              <ion-col style="text-align: end;padding-top: 0px;padding-bottom: 0px;">
                <ion-badge class="badge_class" style="--background: #fbff0a;">2</ion-badge>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
