
.no-scroll .scroll-content {
    overflow: hidden;
}

.back-color {
    --background: #054098;
    color: white;
}

ion-icon {
    color: white;
    font-size: 30px; 
}

.bg_blue{
    // background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    // background: linear-gradient(to right, black 0%, #434343 100%);
    background: linear-gradient(to right, rgba(10,118,209,1) 20%, rgba(4,145,216,1) 71%, rgba(3,168,222,1) 89%, rgba(2,177,224,1) 100%);
}

.bg_orange{
    background: linear-gradient(to right, rgba(254,132,33,1) 20%, rgba(252,167,39,1) 71%, rgba(254,171,39,1) 89%, rgba(254,187,44,1) 100%);
}

.bg_red{
    background: linear-gradient(to right, rgba(255,85,98,1) 20%, rgba(254,103,82,1) 40%, rgba(255,125,65,1) 89%, rgba(255,142,50,1) 100%);
}

.bg_pink{
    background: linear-gradient(to right, rgba(242,92,117,1) 20%, rgba(242,116,177,1) 71%, rgba(240,131,214,1) 89%, rgba(240,143,240,1) 100%);
}

.bg_green{
    // background: linear-gradient(to right, #01639d 20%, #017faf 71%, #0086b9 89%, #008ec5 100%);
    // background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    // background: linear-gradient(to right, rgba(80,157,1,1) 20%, rgba(105,175,1,1) 71%, rgba(119,185,0,1) 89%, rgba(133,197,0,1) 100%);
}

.bg_navyblue{
    background: linear-gradient(to right, #033279 20%, #165dc7 71%, #1f61c3 89%, #045ce1 100%);
    // background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    // background: linear-gradient(to right, #141e30, #243b55);
}

.bg_darkred{
  background: linear-gradient(to right, #2ea4ee 20%, #7bc8f8 71%, #8CD3FF 89%, #8CD3FF 100%)
}

.bg_purple{
    // background: linear-gradient(to right, #7202ac 20%, #a103c9 71%, #9703c7 89%, #a003d2 100%);
    // background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
       background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    // background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
}

.card_line{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.badge_class{
    --background: transparent;
    border: 1px solid transparent;
    border-radius: 12px;
    color: #000000;
}

.red_background{
    color: #d10619;
    font-size: 14px;
    align-self: center;
    padding-top: 0px;
    padding-bottom: 0px;
    //background: red;
    //padding: 7px;
}

.green_background{
    color: #08e25e;
    font-size: 14px;
    align-self: center;
    padding-top: 0px;
    padding-bottom: 0px;
    //background: green;
    // padding: 7px;
}

.yellow_background{
    color: #fbff0a;
    font-size: 14px;
    align-self: center;
    padding-top: 0px;
    padding-bottom: 0px;
    //background: yellow;
    // padding: 7px;
}